/*span { colour: transparent; display: inline; }*/
.c1 {
  color: #ff9100; }

.c2 {
  color: #f35d00; }

.c3 {
  color: #ff8528; }

.c4 {
  color: #d1b623; }

.c5 {
  color: #fff; }

.date {
  color: #fff;
  background: #505645; }

.error {
  color: #BB3500;
  background: #fff; }

.in-progress {
  background: #192A38; }

.comment {
  color: #ffd590 !important;
  font-weight: bold; }

.link,
.code {
  color: #000;
  text-decoration: underline;
  z-index: 9999;
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding: 0 0.75rem;
  margin: 0 -0.75rem; }

strong {
  color: #fff !important;
  font-weight: normal; }

body, html {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  color: #777;
  transition: background-color 0.25s;
  background: transparent; }

html {
  background: #042028; }

.input, .output {
  line-height: 200%;
  height: 100%;
  width: 100%;
  font-size: 0.8em;
  border: 0;
  margin: 0;
  padding: 1rem;
  letter-spacing: 2px;
  font-family: monospace;
  white-space: pre-wrap;
  border-left: 7rem solid #1A1E23; }

.input {
  resize: none;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  transition: background 1s; }

.input:focus {
  outline: none; }

.input:disabled {
  background: #000; }

h1 {
  position: absolute;
  top: 0;
  left: 7rem;
  padding: 0.3rem 1.5rem 0.5rem 0;
  margin: 1rem;
  border-bottom: 2px solid #09f;
  transition: color 0.25s;
  z-index: 2;
  color: white; }

.time {
  position: absolute;
  left: 1rem;
  z-index: 2; }

@keyframes slidein {
  0% {
    top: -10rem; }
  100% {
    top: 0; } }
.header.sticky {
  position: fixed;
  animation: slidein 0.25s;
  top: 0;
  left: 7rem;
  right: 0;
  background-color: #1A1E23;
  z-index: 10; }

.header.sticky h1 {
  font-size: 1.25em;
  position: static;
  display: inline-block;
  margin-top: 1rem;
  border-width: 0;
  border-left-width: 3px;
  padding: 0;
  padding-left: 0.5rem; }

.wrapper {
  position: relative;
  height: 100%; }

.input {
  padding-top: 8rem; }

.wrapper {
  padding-top: 7rem; }

html.ajax-pending {
  background-color: #192A38; }

html.ajax-pending h1 {
  color: #ff8528; }

html.export-error,
html.ajax-error {
  background-color: #fff; }

html.export-error h1,
html.ajax-error h1 {
  color: #BB3500; }

html.export-success {
  background-color: #fff; }

.export-btn {
  position: fixed;
  bottom: 1em;
  right: 1em; }

.parsed {
  position: fixed;
  bottom: 1em;
  right: 1em;
  height: 1em;
  width: 1em; }

.input {
  color: white;
  text-shadow: 0px 0px 0px transparent;
  -webkit-text-fill-color: transparent; }

.input::-webkit-input-placeholder {
  text-shadow: none;
  -webkit-text-fill-color: initial; }

/*# sourceMappingURL=style.css.map */
